@extends('templates/layoutlte')
@section('content')
{{Form::open(['route' =>'ListaDeclaracionJO.store' ,'method'=>'POST','id'=>'FormProd','name'=>'add_product'])}}
{{Form::hidden('metodo','Crear')}}
<div class="content" >
    <div class="panel-group">
    <div id="error_section"></div>
    @if($detUsuario->getIsProductor() && $detUsuario->getIsComercializadora())
    <div id="seleccionForm">
      <div class="panel-primary" style="background-color: #fff">
        <div class="panel-heading"><h3>Selección de tipo de usuario</h3> </div>
        <div class="panel-body">
             <div class="row" >
              <div class="col-md-8 text-danger"><h4>Nota: </h4></div>
              </div>
              <div class="row" >
              <div class="col-md-6 "><input type="radio" name="tipoUsuario" value="Productor" id="radProductor" onclick="activarProductor();"> Productor</div>
              <div class="col-md-6" ><input type="radio" name="tipoUsuario" value="Comercializador"  id="radComercializador" onclick="activarComercializador();"> Comercializador</div>
              </div>
              <div class="panel-footer">
              <div class="row">
                <div class="col-md-12 text-center">         
                </div>
              </div>
            </div>
        </div>
      </div>
      <hr>
    </div> <!-- Fin DIV id seleccionForm -->
    @endif
    <div id="productor">
      <div class="panel-primary" style="background-color: #fff">
        <div class="panel-heading"><h3>(P-1) - 1.1 Selección de Productos (Productor)</h3> </div>
        <div class="panel-body">
             <div class="row" >
              <div class="col-md-8 text-danger"><h4>Nota: Seleccione los productos que desea agregar a su nueva declaración jurada de orígen</h4></div>
              <div class="col-md-4" align="right">
              <button  name="add" type="button" id="add" value="add more" class="btn btn-success btn-md"><span><i class="glyphicon glyphicon-plus"></i></span> Agregar un Nuevo Producto</button>
              </div>
              <table class="table table-bordered" id="fieldse">
                    <tr>
                      <th class="hidden">Nº</th>
                      <th>Código Arancelario </th>
                      <th>Descripción Arancelaria</th>
                      <th>Descripción Comercial</th>
                    </tr>
                    <tr id="row">
                      <td style="width: 10%;" class="hidden">
                          {!!Form::text('productos_id[]',null,['class'=>'form-control','id'=>'productos_id', 'readonly'=>'true'])!!}
                        </td>
                      <td>                
                          {!!Form::text('codigo_arancel[]',null,['class'=>'form-control','data-toggle'=>"modal",'data-target'=>"#modal",'id'=>'cod_aran', 'placeholder'=>'Selecione aquí un producto', 'onkeypress'=>'return soloNumerosDouble(event)'])!!}
                          <span class="invalid-feedback" role="alert" >
                            <strong id="cod_aran-error"></strong>
                          </span>
                        </td>
                      <td>
                          {!!Form::text('descripcion_arancelaria[]',null,['class'=>'form-control','id'=>'arancel_descrip','readonly'=>'true','onkeypress'=>'return soloLetras(event)'])!!}
                      </td>
                      <td>
                          {!!Form::text('descripcion_comercial[]',null,['class'=>'form-control','id'=>'arancel_descrip_comer','readonly'=>'true','onkeypress'=>'return soloLetras(event)'])!!}
                      </td>
                    </tr>
              </table>
          </div>
           <div class="panel-footer">
              <div class="row">
                <div class="col-md-12 text-center">         
                   <input type="submit"  name="submit" id="submit" class="btn btn-primary btn-md" onclick="productosDJO()" value="Siguiente"/>
                </div>
              </div>
            </div>
        </div>
       
      </div>
      <hr>
</div> <!-- Fin DIV id productor -->
 <div id="comercializador">
      <div class="panel-primary" style="background-color: #fff">
        <div class="panel-heading"><h3>(P-1) - 1.1 Selección de Productos (Comercializador)</h3> </div>
        <div class="panel-body" id="body_comercializador_panel">
                <div class="row">
                    <div class="col-md-8 text-danger"><!--h4>Nota: Seleccione los productos que desea agregar a su nueva declaración jurada de orígen</h4--></div>
                    <div class="col-md-4" align="right">
                     <button  name="add" type="button" id="add_empre" value="add more" class="btn btn-success btn-md"><span><i class="glyphicon glyphicon-plus"></i></span> Agregar una Nueva Empresa</button>
                    </div>
                </div>
                <div class="row">
                        <table class="table table-bordered" id="empre_content_0">
                              <tr>
                                <th class="hidden">Nº</th>
                                <th>RIF</th>
                                <th>Razón Social</th>
                                <th>Siglas</th>
                              </tr>
                              <tr>
                                <td class="hidden"></td>
                                <td>{!!Form::text('rif[]',null,['class'=>'form-control','id'=>'rif', 'placeholder'=>'RIF'])!!}</td>
                                <td>{!!Form::text('razon_social[]',null,['class'=>'form-control','id'=>'razon_social', 'placeholder'=>'Razon Social'])!!}</td>
                                <td>{!!Form::text('siglas[]',null,['class'=>'form-control','id'=>'siglas', 'placeholder'=>'Siglas'])!!}</td>
                              </tr>
                              <tr>
                                <th class="hidden">Nº</th>
                                <th>Código Arancelario </th>
                                <th>Descripción Arancelaria</th>
                                <th>Descripción Comercial</th>
                              </tr>
                              <tr id="row_00">
                                <td style="width: 10%;" class="hidden">
                                    {!!Form::text('productos_id_c[0][]',null,['class'=>'form-control','id'=>'productos_id_c', 'readonly'=>'true'])!!}
                                </td>
                                <td>                
                                    {!!Form::text('codigo_arancel_c[0][]',null,['class'=>'form-control','data-toggle'=>"modal",'data-target'=>"#modal",'id'=>'cod_aran_c', 'placeholder'=>'Selecione aquí un producto', 'onkeypress'=>'return soloNumerosDouble(event)'])!!}
                                </td>
                                <td>
                                    {!!Form::text('descripcion_arancelaria_c[0][]',null,['class'=>'form-control','id'=>'arancel_descrip_c','readonly'=>'true','onkeypress'=>'return soloLetras(event)'])!!}
                                </td>
                                <td>
                                    {!!Form::text('descripcion_comercial_c[0][]',null,['class'=>'form-control','id'=>'arancel_descrip_comer_c','readonly'=>'true','onkeypress'=>'return soloLetras(event)'])!!}
                                </td>

                              </tr>
                        </table>
                </div>
              <div class="row">
                <div class="col-md-4" align="left">
                     <button  name="add" type="button" id="add_item_emp_0" value="add more" class="btn btn-info btn-sm add_item_empre"><span><i class="glyphicon glyphicon-plus"></i></span>Agregar Producto</button>
                </div>
                <div class="col-md-8 text-danger"><!--h4>Nota: Seleccione los productos que desea agregar a su nueva declaración jurada de orígen</h4--></div>
                <div>
              </div>
          </div>
        </div>    <!-------Fin del Body panel -->
           <div class="panel-footer">
              <div class="row">
                <div class="col-md-12 text-center">         
                   <input type="submit"  name="comercializador" id="submit" class="btn btn-primary btn-md" onclick="productosComercializadorDJO()" value="Siguiente"/>
                </div>
              </div>
            </div>
        </div>
      <hr>
</div> <!-- Fin DIV id comercializador -->
      <div class="panel-primary">
        <div class="panel-heading">
            <h3>Panel de Visualización de Mis Productos Declarados y No Declarados.</h3></div>             
        </div>
        <div class="panel-body"><!-- http://127.0.0.1:8000/exportador/DatosEmpresa -->
          <div class="row" style="background-color: #fff">
                <table id="listaUsuarios" class="table table-striped table-bordered" style="width:100%">
                    <tr>
                    <th>Nº </th>
                    <th>Estatus</th>
                    <th>Descripción Comercial</th>
                    <th>Código Arancelario </th>
                    <th>Descripción Arancelaria</th>
                  </tr>
                  @php $count=1 @endphp
                  @foreach($arancel as  $producto)
                    @php 
                        if($producto->estatus=="Declarado")$color="#4edea9;"; else $color="#e6798f;"; 
                    @endphp 
                    <tr style="background-color: {!! $color !!}"> <!--Asigna el color-->
                      <td>{{$count++}}</td>
                      <td><b>{{ $producto->estatus }}</b></td>
                      <td>{{ $producto->descrip_comercial }}</td>
                      <td>{{ $producto->codigo }}</td>
                      <td>{{ $producto->descripcion }}</td>
                    </tr>
                  @endforeach
                </table>
          </div>
        </div>
      </div>
    </div><!-- Panel Grup -->
</div>
@component('modal_certificado',['arancel'=>$arancel])
@slot('header') <h3>Productos No Declarados</h3> @endslot
@slot('body')  <div id="arancel_certificado"></div>
@endslot
@slot('footer')@endslot
@endcomponent
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{asset('js/script_declaracionJO.js')}}"></script>
<script>
    $(document).ready(function() {
        $('#FormProd').submit(function(event) {
            event.preventDefault();
            var cod_aran = $('#cod_aran').val();
            if (cod_aran == '') {
                $('#cod_aran').removeClass('is-valid').addClass('is-invalid');
                $('#cod_aran-error').text('El campo es obligatorio.').show();
            } else {
                $('#cod_aran').removeClass('is-invalid').addClass('is-valid');
                $('#cod_aran-error').hide();
                this.submit();
            }
        });
    });
</script>
@endsection

