.fondo{
            background-image:url('{{ asset('../img/exportaciones1.jpg') }}')
        }


/* style index Declaracion origen */

/* stylo OK*/
.column-producto {

  border: 0px solid red;
  height: 75px; 
  line-height: 70px;
  display: inline-block;
}

.wizard .nav-tabs {
  border: 0px solid #ddd;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: auto auto;
    left: 0;
    right: 25px;
    top: 50%;
    z-index: 1;
}
.round-tab{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
}

#round-tab-true {
  border: 3px solid #4edea9;
  background: #c2f4e1;
}
#round-tab-false {
  border: 3px solid #de4e83;
  background: #f4c2d4;
}

span.round-tab .ok{
    color:#4edea9; /*verde*/
	
    
}
span.round-tab .locked{
    color:#de4e83; /*rojo*/
    
    
}
.wizard li.active span.round-tab {
    /*background: #fff;
    border: 3px solid #5bc0de;/* active */
    border: 3px solid #de4e83;
  	background: #f4c2d4;
    
}
    
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;/* mouse hover*/
}

.wizard .nav-tabs > li {
    width: 16%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 40%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #de4e83; /* apuntador */
}

.wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 14px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .wizard .nav-tabs > li a {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .wizard li.active:after {
        content: "";
        position: absolute;
        left: 35%;
    }
    .table{
      background-color: #e0e0e0;
    }
}
.alert {
    display: none;
    margin-bottom: 0;
}
.alert-container {
    display: flex;
    flex-direction: column;	
    padding: 1rem;
    
    border-color: #c3e6cb;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.alert-container .alert {
    flex-grow: 1;
    margin-bottom: 1rem;
}
.alert-container .btn {
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
    padding: 0.175rem 0.75rem;
}
.alert-container .btn:focus, .alert-container .btn:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.alert-container .btn i {
    margin-right: 0.5rem;
}
.alert-container .btn i.fa-envelope {
    color: #fff;
}
.alert-container .btn i.fa-times {
    color: #fff;
}
.alert-container .btn-primary i.fa-envelope {
    color: #fff;
}
.alert-container .btn-danger i.fa-times {
    color: #fff;
}

/*  fin index declaracion de origen*/