body {
    background: #ffffff;  
    font-family: "Lato", sans-serif;
  }
  
  h2 {
    color: #000;
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }
  
  .warpper {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #32557f;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
  
  .panels {
    background: #fff;
    box-shadow: 0 2rem 2rem #00000080;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .panel-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .radio {
    display: none;
  }
  
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel {
    display: block;
  }
  
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab {
    background: #fff;
    color: #000;
    border-top: 3px solid #32557f;
  }
  
input:invalid {
    border-color: red;
}
select:invalid {
  border-color: red;
}
.invalid-radio {
  border-color: red;
}
input:valid {
  border-color: #ccc;
}
select:valid {
  border-color: #ccc;
}
.valid-radio {
  border-color: ccc;
}

